
<!-- #Bảng xếp hạng -->
<div class="topScore">
  <div id="TextTop">
    <p>1.wadawd</p>
    <p>2.dawdwd</p>
    <p>3.dawdwd</p>
    <p>4.dawdwd</p>
    <p>5.dawdwd</p>
  </div>
</div>

<!-- #Các nút option -->
<div class="option">
  <img id="sound" src="/assets/sound1.png"/>
  <img id="help" src="/assets/help1.png"/>
  <img id="top" src="/assets/top1.png">
  <%= link_to logout_path do   %>
    <img id="logout" src="/assets/logout.png"></a>
  <% end%>
</div>

<!-- Khung Welcome -->
<div class="k_welcome">
    <!-- Avatar -->
    <div class="k_avatar">
      <img width="80" src="<%= @user.image %>?type=large" alt="Avatar">
    </div>

    <%= render "infouser" %>
</div>
