
<!-- #Bảng điểm của người chơi -->
<div class="score">
  <img id="score"src="/assets/paper.png">
  <p id="score" >350 Điểm</p>
</div>

<!-- #Bảng xếp hạng -->
<div class="topScore">
  <img id="topScore" src="/assets/scroll.png">
  <div id="TextTop">
    <p>1.wadawd</p>
    <p>2.dawdwd</p>
    <p>3.dawdwd</p>
    <p>4.dawdwd</p>
    <p>5.dawdwd</p>
  </div>
</div>

<!-- #Các nút option -->
<div class="option">
  <img id="sound" src="/assets/sound1.png"/>
  <img id="help" src="/assets/help1.png"/>
  <img id="top" src="/assets/top1.png">
  <a href="/logout"><img id="logout" src="/assets/logout.png"></a>
</div>
