<div class="imgTitle">
  <%= image_tag("imgTitle.png", :alt => "play") %>
</div>
<div class="imgPlay">
  <%= link_to  "home/play",remote:true do   %>
      <%= image_tag("play1.png",:id =>'play', :alt => "play") %>
  <% end%>
</div>

