
body
{
  background-color: #ADEC70;
  background-image: url(background3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  margin: 0;
  padding: 0;
}
