
div.imgTitle {
    position: absolute;
    left: 17%;
    display: none;
    top: 50px;
}

div.imgTitle img {
  width: 80%;
}

div.imgPlay {
    position: absolute;
    left: 42%;
    top: 280px;
    width: 50%;
    display: none;
}

div.imgPlay img{
  width: 25%;
}

div.imgPlay img{
  width: 25%;
}

div.imgPlay img:hover{
  cursor: pointer;
}


.k_welcome{
    background-image: url('wooden_board_02.png');
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 868px;
}

.k_welcome .k_avatar{
    position: absolute;
    top: 150px;
    left: 50px;
    box-shadow: 0 0 4px 4px #fff
}

.k_welcome .k_info_user{
    position: absolute;
    top: 145px;
    left: 150px;
    text-align: center;
    color: #ffffff;
    line-height: 8px;
}


