.k_login_main{
    position: absolute;
    top: 80px;
    left: 220px;
    background-image: url("login/login-main.png");
    width: 288px;
    height: 395px;
}

.k_login_main .k_login_btnsignin{
    background-image: url("login/login-button.png");
    background-size: 100px 50px;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 220px;
    left: 50px;
    /*margin-left: 90px;
    margin-top: 220px;*/
}

.k_login_main .k_login_btnsignin:hover{
    background-image: url("login/login-button2.png");
    position: absolute;
    cursor: pointer;
}


.k_login_main .k_register_btnsignin{
    background-image: url("login/button-register.png");
    background-size: 80px 50px;
    width: 80px;
    height: 50px;
    position: absolute;
    top: 220px;
    left: 170px;
}

.k_login_main .k_register_btnsignin:hover{
    background-image: url("login/button-register2.png");
    position: absolute;
    cursor: pointer;
}


.k_login_main .k_login_fogot{
    background-image: url("login/login-fogot.png");
    width: 126px;
    height: 20px;
    position: absolute;
    top: 195px;
    left: 90px;
}

.k_login_main .k_login_fogot:hover{
    background-image: url("login/login-fogot2.png");
    position: absolute;
    cursor: pointer;
}

.k_login_main .k_username{
    position: absolute;
    top: 59px;
    left: 70px;
    height: 25px;
    border: none;
}

.k_login_main .k_password{
    position: absolute;
    top: 144px;
    left: 70px;
    height: 25px;
    border: none;

}

.k_login_main .k_login_fb{
    width: 50px;
    height: 50px;
    background-image: url("login/facebook_642.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    position: absolute;
    top: 290px;
    left: 50px;
}

.k_login_main .k_login_gg{
    width: 50px;
    height: 50px;
    background-image: url("login/google_64.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    position: absolute;
    top: 290px;
    left: 120px;
}

.k_login_main .k_login_tw{
    width: 50px;
    height: 50px;
    background-image: url("login/twitter_64.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    position: absolute;
    top: 290px;
    left: 190px;
}


.k_login_main .k_login_fb:hover{

    background-image: url("login/facebook_64.png");
    cursor: pointer;
}

.k_login_main .k_login_gg:hover{
    background-image: url("login/google_642.png");
    cursor: pointer;
}

.k_login_main .k_login_tw:hover{
    background-image: url("login/twitter_642.png");
    cursor: pointer;
}


/* Xử lý khung đăng ký */
.k_register{
    background-image: url("login/login-register-form.png");
    background-size: 504px 372px;
    width: 504px;
    height: 372px;
    position: absolute;
    top: 85px;
    left: 400px;
    display: none;
    z-index: -2;
}

.k_register .k_username_register{
    position: absolute;
    left: 230px;
    top: 87px;
    line-height: 20px;
    width: 200px;
    border: none;
}

.k_register .k_email_register{
    position: absolute;
    left: 230px;
    top: 142px;
    line-height: 20px;
    width: 200px;
    border: none;
}

.k_register .k_password_register1{
    position: absolute;
    left: 230px;
    top: 196px;
    line-height: 20px;
    width: 200px;
    border: none;
}

.k_register .k_password_register2{
    position: absolute;
    left: 230px;
    top: 252px;
    line-height: 20px;
    width: 200px;
    border: none;
}

.k_register .k_register_btncreate{
    background-image: url("login/button-register.png");
    background-size: 100px 60px;
    width: 100px;
    height: 60px;
    position: absolute;
    top: 295px;
    left: 218px;


    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.k_register .k_register_btncreate:hover{
    background-image: url("login/button-register2.png");
    cursor: pointer;
}

.k_register .k_form{
    background-image: url("login/login-register-content.png");
    background-size: 504px 372px;
    width: 504px;
    height: 372px;
    position: absolute;

    z-index: -2;
}