
div.content {
  margin: auto;
  width: 1353px;
  position: relative;
}

div.boximg {
  position: absolute;
  left: 283px;
  top: 35px;
}

div.boximg img {
  width: 544px;
  max-height: 330px;
  display: none;
}

div.option {
  right: 100px;
  width: 5%;
  position: absolute;
  top: 35px;
    display: none;
}

div.option img#sound, img#help {
  width: 100%;
}

div.option img:hover {
  cursor: pointer;
}

div.listword {
  margin-left: 86px;
  position: absolute;
  width: 150px;
  top: 20px;
}

div.word img {
  float: left;
  z-index: 0;
  width: 73px;
}

div.word img:hover, p:hover {
  cursor:pointer;
}

div.word p {
  float: left;
  margin-top: 17px;
  margin-left: -44px;
  z-index: 1;
  font-size: 25px;
}

div.listBoxtext {
  text-align: center;
  width: 510px;
  margin-left: 298px;
  position: absolute;
    top: 430px;

}

div.boxtext {
    float: left;
    display: none;
    background: url("ochu.png");
    width: 72px;
    height: 72px;
}

div.boxtext img:hover,div.word img:hover{
    cursor:pointer;
    opacity: 0.8;
}

div.listBoxtext .boxtext p {
  margin-top: 20px;
  font-size: 31px;
}

div.score {
  position: absolute;
  right: 198px;
  top: 35px;
  text-align: center;
}

.score p {
  margin-top: -81px;
  font-size: 20pt;
  color: brown;
  font-weight: bold;
}


div.topScore
{
    background-image: url("scroll.png");
    background-size: 419px 468px;
    position: absolute;
    top: 50px;
    left: 400px;
    width: 419px;
    height: 468px;
    display: none;
    z-index: 2;
}

div#TextTop {
  position: absolute;
  left: 100px;
  top: 100px;
}

div#TextTop p {
  font-size: 16pt;
  color: brown;
}

.k_btn_logout{
    background-image: url('login/logout.png');
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    position: absolute;
}

.ui-dialog
{
    display: none;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    outline: 0;
    z-index: 2;
}

.ui-dialog-titlebar
{
    background: #8F6E4A;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 31px;
    opacity: 0.8;
}
.ui-dialog-titlebar span {
    display: none;
}
.ui-button
{
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: none;
    margin-left: 270px;
    margin-top: 3px;
    background: #AA855D url("play/close.png") ;
}

div.ideabox {
    padding: 10px;
    display: none;

    background: white;
    opacity: 0.985;
}
